/* @import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Spectral:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

html
{
  font-size: 100%;
  background-color: #FAF9F6;
}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  /* font-family: 'MuseoModerno', cursive;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-family: 'MuseoModerno', cursive;
}